.main-container{
    width: 100%;
    display: flex;
    background-color: aqua;
}
.figma-menu{
    position: fixed;
    width: 316px;
    height: 700px;
    float: left;
    background-color:#F4F5FA;
}
.main-content{
    width: 970px;
    background-color: #E5E5E5;
    padding-left: 300px;
}
.menu-container .menu-container-footer{
    display: block;
}
.menu-container img{
    color: greenyellow !important;
    margin-right: 25px;
}
.menu-container-center .menu-container-item:active{
    background: #1C9E3C;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.menu-container-center .menu-container-item{
    height: 50px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    cursor: pointer;
}
.menu-container-item .item-img{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: 10px;
    color: #1C9E3C;
}
.menu-container-item span{
    color: #1C9E3C;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;  
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #1C9E3C;
}
.menu-container-item span:active{
    color: #000000;
}
.menu-container-item .item-img-one{
    width: 20px;
    height: 10px;
    margin-left: 20px;
    margin-top: 20px;
}
.menu-container-item .menu-item-span{
    color: black;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;  
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.menu-container-footer .footer-image{
    width: 180px;
    height: 200px;
    
}
.menu-container-footer .footer-block{
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
}

/* Login Style */

.login-container{
    display: flex;
}
.login-container .login-left-content{
    max-width: 600px;
    background: #F4F5FA;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    
}
.login-container .login-right-container{
    max-width: 600px;
    background-color: yellow;
}
.left-center .left-header{
    width: 60%;
    text-align: left;
}
.login-left-content .left-center .left-header-span{
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    font-weight: 700;
    margin-left: 150px;
    color: #000000;
}
.login-left-content .left-center{
    position: relative;
}
.left-center .login-form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.login-form .login-input{
    margin-top: 35px;
    position: relative;
}
.login-form .login-input label{
    display: inline-block;
    position: absolute;
    bottom: 35px;
    left: 150px;
    font-size: 20px;
    font-weight: 700;
    color: #1C9E3C;
}
.login-input .item-input{
    width: 50%;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 29px;
}
.login-input .item-input:hover{
    border: 2px solid ;
}
.login-form .left-btn{
    margin-left: 250px;
    margin-top: 15px;
    width: 100px;
    height: 50px;
    border: 1px solid #4B975F;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #1fef52;
}
.login-form .left-btn p{
    display: block;
    position: absolute;
    bottom: -5px;
    left: 275px;
    font-size: 18px;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.login-form .left-btn:hover{
    background: #1C9E3C;
    color: #fff;
}

.login-left-content .left-footer{
    margin-top: 50px;
    display: flex;
    height: 75px;
}
.left-footer span{
    margin-left: 150px;
    display: inline-block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}
.left-footer img{
    display: inline-block;
    width: 75px;
    height: 50px;
    margin-left: 25px;
}   

.login-container .login-right-content img{
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-top: 70px;
}

/* Settings */

.settings-container{
    position: relative;
    margin-left: 25px;
}
.settings-container .settings-header{
    display: flex;
    position: relative;
    height: 250px;
}
.settings-header .header-left-blog{
    text-align: left;
}
.settings-header .header-left-blog span{
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}
.settings-header .header-left-blog p{
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
}
.settings-header img{
    position: absolute;
    right: 25px;
    top: 10px;
}
.settings-container .settings-route{
    position: absolute;
    left: 15px;
    top: 100px;
}
.settings-route button{
    position: relative;
    width: 250px;
    height: 110px;
    background: #fff;
    color: #1C9E3C;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
}
.settings-route button img{
    position: absolute;
    left: 10px;
    bottom: 20px;
}
.settings-route button p{
    display: inline-block;
    position: absolute;
    left: 100px;
    bottom: 20px;
}