.sidebar-container .sidebar-content{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar-content ul{
    margin: 5px 0 0 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.sidebar-content ul li .dashboard-sidebar-svg{
    margin-left: 15px;
}
.sidebar-content ul li .active-dropdown-close{
    display: none;
}
.sidebar-content ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    cursor: pointer;
    margin-left: 15px;
    gap: 20px;
}
.sidebar-container ul li:hover{
    color: #1C9E3C;
}
.sidebar-content ul li span{
    font-size: 1rem;
    font-weight: 600;
}

.sidebar-content ul .sidebar-dropdown-li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    
}
.sidebar-dropdown-li .sidebar-dropdown-btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 50px;
    align-items: center;
    cursor: pointer;
}
.sidebar-dropdown-li .sidebar-dropdown-btn .sidebar-svg{
    margin-left: 15px;
}
.sidebar-dropdown-li .sidebar-dropdown-btn .sidebar-dropdown-svg{
    width: 20px;
    margin-left: 10px;
}
.sidebar-dropdown-li .sidebar-dropdown-btn span{
    font-size: 1rem;
    font-weight: 600;
}
.sidebar-dropdown-li ul .sidebar-dropdown-list{
    width: 75%;
    margin-left: 35px;
}

.sidebar-content ul .active-dropdown-open .sidebar-dropdown-svg{
    transform: rotate(180deg);
    transition: transform .5s;
    color: #FFFFFF;
}
.sidebar-content ul .active-dropdown-close .sidebar-dropdown-svg{
    transition: all .5s;
}
.sidebar-content ul .router-link-active{
    display: flex;
    background: #1C9E3C;
    color: #FFFFFF;
}
.sidebar-content ul .router-link-active:hover{
    color: #FFFFFF;
}
.sidebar-content ul .router-link-active::before{
    position: fixed;
    width: 296px;
    height: inherit;
    left: 0;
    content: "";
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #1C9E3C;
    z-index: -1;
}
.sidebar-content ul .active-dropdown-open{
    width: 296px;
    background: #1C9E3C;
    margin: 10px 0 10px 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #FFFFFF;
}
.sidebar-content ul .active-dropdown-open .sidebar-dropdown-btn .sidebar-svg{
    color: #FFFFFF;
}
.sidebar-content ul .active-dropdown-open .sidebar-dropdown-list:hover{
    color: #FFFFFF;
}
.sidebar-content ul .active-dropdown-open .sidebar-dropdown-list span{
    color: #FFFFFF;
}
.sidebar-content ul .active-dropdown-open .sidebar-dropdown-list svg{
    color: #FFFFFF;
}